<mat-toolbar class="footer">
    <span>
        Desenvolvido com
        <!-- classe red/.v-middle estão em styles.css -->
        <!-- <i class="material-icons red v-middle"> -->
        <!-- appRed vem de re.directive.cs -->
        <i class="material-icons v-middle" appRed>
            <!-- favorite é o nome do icone, no caso, um coração -->
            favorite
        </i>
        por
        <!--  red vem do styles.css-->
        <strong>Cod<span class="red">3</span>r</strong>
    </span>
</mat-toolbar>